header {
  display: flex;
  align-items: center;
  padding: 35px;

  .item {
    margin: 27px;

    .title {
      font-size: 62px;
      line-height: 1.1;
      letter-spacing: -1px;
    }

    .header-text {
      width: 67%;
      font-size: 18px;
      line-height: 1.6;
    }

    .title,
    .header-text {
      color: #334155;
      margin: 0 0 32px 0;
    }

    .btns {
      display: flex;
    }

    #appointmentBtn {
      background-color: #25d4b7;
      color: #0b0f13;
    }

    #loginBtn {
      background-color: #faa3b2;
      color: #0b0f13;
    }

    #appointmentBtn,
    #loginBtn {
      margin-right: 50px;
      border-radius: 0px;
    }
  }
}
