<header>
  <div class="item">
    <h1 class="title">
      Îndrumăm spre sănătate, <br />
      Îndrumăm spre viață
    </h1>

    <p class="header-text">
      Înființate cu grijă și dedicare, clinicile noastre se angajează să vă ofere îngrijire medicală de calitate
      superioară într-un mediu prietenos și modern. Profesioniști medicali cu experiență combină cunoștințele avansate
      cu compasiunea pentru a asigura sănătatea și binele pacienților lor.
    </p>

    <div *ngIf="!loggedUser || isPatient" class="btns">
      <div>
        <button id="appointmentBtn" mat-flat-button color="primary" (click)="onClickGetAppoinment()">
          Fă-ți o programare | +
        </button>
      </div>

      <div *ngIf="!loggedUser || isDoctor">
        <button id="loginBtn" mat-flat-button color="warn" (click)="onClickManageSite()">Intră in cont</button>
      </div>
    </div>
  </div>

  <div class="item">
    <img src="assets/doctors.png" alt="Medical Professionals" width="530px" height="500px" />
  </div>
</header>
