.authBlock{
    text-align: left;
    width: 36%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

label{
    font-size: 16px;
    font-weight: 500;
}

#email{
    margin: 20px 0;
}

p{
    line-height: 24px;
}

input{
    width:98%;
    height: 30px;
    border-radius: 7x;
    border: none;
    background-color: rgba(238, 237, 237, 0.868);
}