<div class="container">
  <div class="authBlock">
    <h2>Ai uitat parola?</h2>
    <p class="text-center">
      Introdu adresa de e-mail pe care ai folosit-o când te-ai înregistrat și îți vom trimite instrucțiuni pentru a-ți
      reseta parola.
    </p>

    <p>
      Din motive de securitate, NU vă vom stoca parola. Prin urmare, fiți siguri că nu vă vom trimite niciodată parola
      prin e-mail.
    </p>

    <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
      <label for="email">Adresa de email</label>
      <br />
      <input type="email" id="email" name="email" matInput required [(ngModel)]="email" required />
      <br />
      <button type="submit" mat-raised-button color="warn" [disabled]="!resetForm.valid">Resetează</button>
    </form>
  </div>
</div>
