<div class="cards">
  <h3>Programările tale:</h3>
  <mat-card *ngFor="let appointment of appointmentsText" class="example-card">
    <mat-card-header>
      <mat-card-title>Serviciul: {{ appointment.service.name }} </mat-card-title>
      <mat-card-subtitle>Data: {{ appointment.localDate }}, {{ appointment.timeSlot }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><b> Doctor:</b> {{ appointment.doctor.firstName }} {{ appointment.doctor.lastName }}</p>
      <p>
        <b> {{ appointment.clinic.name }} </b> - {{ appointment.clinic.address }}
      </p>
      <p><b>Număr telefon: </b> {{ appointment.clinic.phone }}</p>
      <p><b> Preț:</b> {{ appointment.service.price }}</p>
      <p><b> Fișiere Atașate:</b> {{ appointment.extraDetails.file.name }}</p>
    </mat-card-content>
  </mat-card>
</div>
