<div class="form-container">
  <form class="example-form" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <div class="imageContainer">
      <img *ngIf="patientImage" [src]="patientImage" alt="Imagine Doctor Neincarcata" width="50%" height="50%" />
      <label for="fileInput" class="fileLabel"> Incarca o imagine </label>
      <input type="file" accept=".png,.jpg" (change)="uploadImage($event)" formControlName="imageUrl" id="fileInput" />
    </div>
    <div *ngIf="error.message" class="error-message">
      {{ error.message }}
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Nume</mat-label>
      <input matInput formControlName="lastName" placeholder="Nume" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Prenume</mat-label>
      <input matInput formControlName="firstName" placeholder="Prenume" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-radio-group formControlName="gender">
      <mat-radio-button value="Masculin">Masculin</mat-radio-button>
      <mat-radio-button value="Feminin">Feminin</mat-radio-button>
      <mat-radio-button value="Altul">Altul</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="example-full-width">
      <mat-label>Telefon</mat-label>
      <input type="tel" formControlName="phone" matInput placeholder="0712 345 678" />
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="signUpForm.get('phone')?.hasError('pattern')">Număr de telefon invalid</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" #email matInput placeholder="nume@mail.com" required />
      <mat-error *ngIf="signUpForm.get('email')?.hasError('pattern')">Adresă de email invalidă</mat-error>
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-error *ngIf="signUpForm.get('email')?.hasError('pattern')">Email invalid</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Parolă</mat-label>
      <input matInput formControlName="password" #password [type]="hide ? 'password' : 'text'" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="actions">
      <button id="signUpBtn" mat-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid">
        Sign-up
      </button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
