<div class="main-container">
  <div class="main-container__add-button-container">
    <button class="home-button" mat-fab color="warn" routerLink="">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-fab id="add-button" routerLink="create"><mat-icon>add</mat-icon></button>
  </div>

  <app-admin-filter [dataSource]="dataSource"></app-admin-filter>

  <div class="table">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="name">
        <th id="thColumn" mat-header-cell mat-sort-header *matHeaderCellDef>Nume</th>
        <td mat-cell *matCellDef="let specialty">{{ specialty?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="doctorIds">
        <th id="thColumn" mat-header-cell mat-sort-header *matHeaderCellDef>Doctori asociați</th>
        <td mat-cell *matCellDef="let specialty">
          {{ specialty.assignedDoctors.length ? specialty.assignedDoctors.join(', ') : 'Niciun doctor' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th id="thColumn" mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let specialty">{{ specialty?.id }}</td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="expandedElement = expandedElement === element ? null : element; $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="table__expanded">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div
            class="table__expanded__element"
            [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
            <div class="table__expanded__element__doctors-assigned">
              <span>Doctori asociați: {{ element.assignedDoctors.join(', ') }}</span>
            </div>
            <div class="table__expanded__element__description">
              <span class="table__expanded__element__description__attribute">Descriere: </span>
              {{ element.description }}
            </div>
            <div class="table__expanded__element__edit-delete">
              <a mat-stroked-button color="primary" [routerLink]="element['id'] + '/edit'">Editează</a>
              <button
                mat-stroked-button
                color="warn"
                id="delete-button"
                (click)="confirmDeleteDialog(element['id'], element['name'])">
                Șterge
              </button>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand"
        class="table__element-row"
        [class.table__element-row-expanded]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"></tr>
      <tr mat-row *matRowDef="let row; columns: ['table__expanded']" class="table__detail-row"></tr>
      <tr *matNoDataRow>
        <td id="no-data" colspan="3">Niciun rezultat găsit</td>
      </tr>
    </table>
    <div class="spinner-container" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" [color]="color" [diameter]="diameter"></mat-progress-spinner>
    </div>
    <mat-paginator
      #paginator
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="showFirstLastButtons"
      aria-label="Select page of specialties"></mat-paginator>
  </div>
</div>
