<div class="filter-container">
  <mat-form-field id="filter">
    <input matInput [(ngModel)]="searchedInput" placeholder="Caută..." />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="card-container">
  <mat-card
    class="card-container__cards"
    *ngFor="let service of services | filterBy: searchedInput"
    (click)="pickedService(service)"
    [ngClass]="{ active: isActive(service) }">
    <mat-card-header>
      <mat-card-title>{{ service.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-container__cards__description">
      <p id="description-detail">
        {{ service.description }}
      </p>
      <p id="price">{{ service.price }}</p>
    </mat-card-content>
  </mat-card>
</div>

<app-scroll-button></app-scroll-button>
