.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  h1 {
    font-size: 36px;
    color: #334155;
    margin: 80px 0 40px 0;
  }

  #googleLogin {
    width: 100%;
  }

  hr.divider.sign-in:after {
    position: relative;
    top: -10px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: #fff;
    content: 'sau login cu email-ul';
  }

  hr.divider {
    height: 1px;
    margin: 30px 0;
    overflow: visible;
    border: none;
    background-color: black;
    color: #6e6d7a;
    text-align: center;
    width: 100%;
  }

  #error {
    text-align: center;
    color: red;
  }

  .login-full-width {
    width: 100%;
  }

  .forgotPassword {
    text-align: right;
  }

  #loginBtn {
    width: 100%;
    margin: 10px 0;
  }
}
