<div class="form-container">
  <form class="example-form" [formGroup]="doctorForm" (ngSubmit)="onFormSubmit()">
    <div class="imageContainer">
      <img *ngIf="doctorImage" [src]="doctorImage" alt="Imagine Doctor Neincarcata" width="50%" height="50%" />
      <label for="fileInput" class="fileLabel"> Incarca o imagine </label>
      <input type="file" (change)="uploadImage($event)" accept=".png,.jpg" formControlName="imageUrl" id="fileInput" />
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Nume</mat-label>
      <input matInput formControlName="lastName" placeholder="Smith" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Prenume</mat-label>
      <input matInput formControlName="firstName" placeholder="Will" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Telefon</mat-label>
      <input matInput type="tel" placeholder="0712 345 678" formControlName="phone" />
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="doctorForm.get('phone')?.hasError('pattern')">Telefon Invalid</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Adresă</mat-label>
      <input matInput formControlName="adress" placeholder="Ex. Str. Verde Nr. 11 " />
      <mat-icon matSuffix>roofing</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="nume@mail.com" />
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-radio-group formControlName="gender">
      <mat-radio-button value="male">Masculin</mat-radio-button>
      <mat-radio-button value="female">Feminin</mat-radio-button>
      <mat-radio-button value="another">Altul</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="example-full-width">
      <mat-label>Parolă</mat-label>
      <input matInput type="password" formControlName="password" minlength="6" />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select
        name="specialty"
        formControlName="specialtyIds"
        placeholder="Specializare: (alege una sau mai multe)"
        multiple
        [required]="true">
        <mat-option *ngFor="let specialty of specialties" [value]="specialty.id">{{ specialty.name }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descriere</mat-label>
      <textarea matInput placeholder="Descriere Doctor" formControlName="description" rows="3" cols="50"></textarea>
      <mat-icon matSuffix>notes</mat-icon>
    </mat-form-field>

    <div class="actions">
      <button mat-stroked-button color="warn" type="button" (click)="confirmCancelDialog()">Închide</button>
      <button mat-stroked-button color="basic" type="button" (click)="confirmResetDialog()">Resetează</button>
      <button mat-stroked-button color="primary" type="submit" [disabled]="!doctorForm.valid">
        {{ buttonText }}
      </button>
    </div>
  </form>
</div>
